<template>
  <v-layout class="board">
    <v-progress-linear
      v-model="seconds_to_next_step_percentage"
      height="2"
      background-color="pink lighten-5"
      color="pink darken-1"
    />

    <v-card tile class="d-flex" fill-height>
      <svg v-if="matrix" ref="boardSvg" class="matrix" width="751" height="751" @click.right.prevent="">
        <template v-for="(row, y) in matrix">
          <cell
            v-for="(cell, x) in row"
            :key="`${x}_${y}`"
            :user-color="userColor"
            :cell="cell"
            :is-cell-reset="is_cell_reset"
          />
        </template>
      </svg>
    </v-card>

    <v-flex class="btn-group" pb-0>
      <v-btn v-if="!is_cell_reset" class="submit-btn" round dark color="pink darken-2" @click="onInputSubmit">Submit</v-btn>
      <v-btn v-if="!is_cell_reset" class="clear-btn" round dark color="dark pink" @click="clearInput">Clear</v-btn>
      <v-btn v-if="is_pattern_selected" class="clear-pattern-btn" round dark color="dark pink lighten-2" @click="clearPattern">Stop Pattern</v-btn>
    </v-flex>
  </v-layout>
</template>
<script>
import { PNG } from "pngjs"

export default {
  name: "Board",
  props: {
    board: {
      type: Object,
      required: true
    },
    confirmedInputs: {
      type: Array,
      required: true
    },
    userColor: {
      type: String,
      required: true
    },
    timeDelta: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      seconds_to_next_step_percentage: 100,
      input_cells: {},
      pattern: {}
    }
  },
  computed: {
    matrix() {
      const buffer = Buffer.from(this.board.content, "base64")
      const png = PNG.sync.read(buffer)
      const white = "ffffff"

      let matrix = []

      // load confirmed board
      for (let y = 0; y < png.width; y++) {
        matrix[y] = []
        for (let x = 0; x < png.height; x++) {
          const idx = (png.width * y + x) << 2
          const opacity = png.data[idx + 3]
          const color =
            opacity === 0
              ? white
              : this.rgbToHex(
                  png.data[idx],
                  png.data[idx + 1],
                  png.data[idx + 2]
                )

          matrix[y][x] = {
            available: color === white,
            color: color,
            x: x,
            y: y
          }
        }
      }

      // apply confirmed inputs
      this.confirmedInputs.forEach(input => {
        const content = JSON.parse(input.content)
        const color = input.color

        Object.keys(content).forEach(x => {
          content[x].forEach(y => {
            matrix[y][x] = {
              available: false,
              color: color,
              x: x,
              y: y
            }
          })
        })
      })

      // re-apply temporary input
      Object.keys(this.input_cells).forEach(x => {
        const column = this.input_cells[x]
        column.forEach(y => {
          matrix[y][x].clicked = true
        })
      })

      return matrix
    },
    is_cell_reset() {
      return Object.keys(this.input_cells).length === 0
    },
    is_pattern_selected() {
      return Object.keys(this.pattern).length > 0
    }
  },
  created() {
    setInterval(() => {
      // update progress bar
      if (this.board && this.board.unix_timestamp) {
        if (this.secondsToNextStep() < 0) {
          this.seconds_to_next_step_percentage = 0
        } else {
          this.seconds_to_next_step_percentage =
            (this.secondsToNextStep() / this.board.interval) * 100
        }
      }
    }, 500)

    this.$nuxt.$on("cell_toggle_on", cell => {
      const x = cell.x
      const y = cell.y

      // update input_cells
      if (!this.input_cells[x]) {
        this.$set(this.input_cells, x, [])
      }
      this.input_cells[x].push(y)
    })

    this.$nuxt.$on("cell_toggle_off", cell => {
      const x = cell.x
      const y = cell.y

      // remove from input_cells
      if (this.input_cells[x]) {
        this.$delete(this.input_cells[x], this.input_cells[x].indexOf(y))
        if (this.input_cells[x].length === 0) {
          this.$delete(this.input_cells, x)
        }
      }
    })

    this.$nuxt.$on("cell_hover", cell => {
      if (!this.is_pattern_selected) {
        return false
      }
      // apply pattern as hover
      this.showPattern(cell)
    })

    this.$nuxt.$on("pattern_select", pattern => {
      this.pattern = pattern
      this.showPattern()
    })

    this.$nuxt.$on("pattern_clear", () => {
      this.pattern = {}
    })
  },
  mounted() {},
  methods: {
    clearPattern() {
      this.$nuxt.$emit("pattern_clear")
    },
    secondsToNextStep() {
      if (this.board && this.board.unix_timestamp) {
        return (
          this.board.unix_timestamp +
          this.board.interval -
          (new Date().valueOf() + this.timeDelta) / 1000
        )
      }
      return this.board.interval
    },
    onInputSubmit() {
      if (Object.keys(this.input_cells).length === 0) return
      this.$nuxt.$emit("input_submit", this.input_cells)
      this.input_cells = {}
    },
    clearInput() {
      if (Object.keys(this.input_cells).length === 0) return
      this.input_cells = {}
      this.$nuxt.$emit("input_clear")
    },
    rgbToHex(r, g, b) {
      return [r, g, b]
        .map(x => {
          const hex = x.toString(16)
          return hex.length === 1 ? "0" + hex : hex
        })
        .join("")
    },
    showPattern(cursor_cell) {
      let cursor_x = 0,
        cursor_y = 0
      // if pattern just selected, there is no cursor_cell b/c cursor out of board, nothing to do
      if (cursor_cell) {
        cursor_x = cursor_cell.x
        cursor_y = cursor_cell.y
      }

      // bind cursor to top-left cell of the pattern
      const pivot_y = Object.keys(this.pattern).reduce((min, cur) =>
        Math.min(min, cur)
      )
      const pivot_x = this.pattern[pivot_y][0]

      // build temp pattern to map to board
      let tmp_pattern = {}

      Object.keys(this.pattern).forEach(y => {
        const tmp_y = y - pivot_y + cursor_y
        if (tmp_y < 0) {
          // skip b/c y out of board
          return
        } else if (!tmp_pattern[tmp_y]) {
          // init this row
          tmp_pattern[tmp_y] = []
        }
        this.pattern[y].forEach(x => {
          const tmp_x = x - pivot_x + cursor_x
          if (tmp_x < 0) {
            // skip b/c x out of board
            return
          }
          tmp_pattern[tmp_y].push(tmp_x)
        })
      })

      this.$nuxt.$emit("pattern_move", tmp_pattern)
    }
  }
}
</script>
<style lang="scss" scoped>
$gap: 1px;

.board {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  max-width: 753px;

  .matrix {
    background: #ececec;
  }
}
</style>
