<template>
  <rect 
    :class="classes"
    :style="style"
    :rx="radius"
    :ry="radius"
    :x="x"
    :y="y"
    class="cell"
    width="14"
    height="14"
    @click="toggle"
    @mouseover="hover"
  />
</template>
<script>
export default {
  name: "Cell",
  props: {
    cell: {
      type: Object,
      required: true
    },
    userColor: {
      type: String,
      required: true
    },
    isCellReset: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      clicked: false,
      is_pattern_hover: false
    }
  },
  computed: {
    x() {
      return this.cell.x * 15 + 1
    },
    y() {
      return this.cell.y * 15 + 1
    },
    classes() {
      return {
        "is-available": this.cell.available,
        "is-clicked": this.clicked,
        "is-pattern-hover": this.is_pattern_hover
      }
    },
    style() {
      let style = {}

      if (this.cell.available & (this.clicked || this.is_pattern_hover)) {
        style["fill"] = `#${this.userColor}`
      } else {
        style["fill"] = `#${this.cell.color}`
      }
      return style
    },
    radius() {
      return this.clicked || this.is_pattern_hover ? 8 : 2
    }
  },
  watch: {
    isCellReset() {
      if (this.isCellReset) {
        this.clicked = false
        this.is_pattern_hover = false
      }
    },
    cell() {
      if (!this.cell.available) {
        this.toggleOff()
        this.is_pattern_hover = false
      }
    }
  },
  created() {
    this.$nuxt.$on("pattern_move", tmp_pattern => {
      if (!this.cell.available) {
        // do not change live cell
        return false
      }
      const x = this.cell.x,
        y = this.cell.y
      // show tmp pattern
      this.is_pattern_hover = tmp_pattern[y] && tmp_pattern[y].indexOf(x) > -1
    })

    this.$nuxt.$on("pattern_clear", () => {
      this.is_pattern_hover = false
    })

    this.$nuxt.$on("pattern_apply", () => {
      if (this.is_pattern_hover) {
        this.toggleOn()
        this.is_pattern_hover = false
      }
    })
  },
  mounted() {},
  methods: {
    toggle() {
      if (!this.cell.available) {
        return
      }

      if (this.is_pattern_hover) {
        // not only this cell, but to apply a pattern. Inform others
        return this.$nuxt.$emit("pattern_apply")
      }

      if (this.clicked) {
        // was on, turn off
        this.toggleOff()
      } else {
        this.toggleOn()
      }
    },
    toggleOff() {
      this.clicked = false
      this.$nuxt.$emit("cell_toggle_off", this.cell)
    },
    toggleOn() {
      this.clicked = true
      this.$nuxt.$emit("cell_toggle_on", this.cell)
    },
    hover() {
      this.$nuxt.$emit("cell_hover", this.cell)
    }
  }
}
</script>
<style lang="scss" scoped>
.cell {
  cursor: not-allowed;
  stroke-width: 1;
  stroke: #00000014;

  &.is-clicked,
  &.is-pattern-hover {
    stroke: #0000004a;
  }

  &.is-available {
    fill: white;
    cursor: pointer;
  }
}
</style>
