<template>
  <v-toolbar app dark color="pink darken-1" class="header">
    <v-toolbar-title v-if="userId">
      Welcome to Game of Life, User #{{ userId }}
    </v-toolbar-title>
    <v-spacer />
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn flat @click="assignNewUser">Assign new color</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  name: "CustomHeader",
  props: {
    userId: {
      type: Number,
      required: true
    }
  },
  methods: {
    assignNewUser() {
      this.$nuxt.$emit("assign_new_user")
    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn {
  font-weight: 800;
}
</style>
