<template>
  <v-footer
    app
    class="footer"
  >
    <v-card
      class="flex"
      flat
      tile
      dark
      color="pink darken-1"
    >
      <v-card-actions class="justify-center">
        &copy;{{ current_year }}&nbsp;-&nbsp;<strong><a href="mailto:app@myles.hk">Myles Fang</a></strong>
      </v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "CustomFooter",
  computed: {
    current_year() {
      return new Date().getFullYear()
    }
  }
}
</script>

<style lang="scss" scoped>
a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-weight: 800;
}

* {
  font-weight: 800;
}
</style>
