<template>
  <v-layout class="page-loading" align-center justify-center>
    <v-progress-circular :size="100" :width="10" indeterminate color="#d81b60">
      <slot />
    </v-progress-circular>
  </v-layout>
</template>

<style lang="scss" scoped>
.page-loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
</style>
