<template>
  <v-card width="100%" class="patterns">
    <v-toolbar color="pink darken-1" dark>
      <v-toolbar-title>Predefined Patterns</v-toolbar-title>
    </v-toolbar>

    <v-container grid-list-md pa-3>
      <v-layout row wrap max-width="200px">
        <v-flex
          v-for="(pattern, i) in patterns"
          :key="i"
          :class="selected_index == i ? 'selected':''"
          class="pattern" sm4 md3 lg6
          xl4
          d-flex
          @click="loadPattern(i)"
        >
          <v-card flat tile class="d-flex">
            <v-img
              :src="'/images/pattern_' + i + '.gif'"
              aspect-ratio="1"
              class="grey lighten-2"
            >
              <v-layout
                slot="placeholder"
                fill-height
                align-center
                justify-center
                ma-0
              >
                <v-progress-circular indeterminate color="grey lighten-5" />
              </v-layout>
            </v-img>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "Patterns",
  data() {
    return {
      // TODO: read this from else where, like API
      patterns: [
        {
          0: [2],
          1: [0, 3],
          2: [0, 3],
          3: [1]
        },
        {
          0: [0, 1],
          1: [0, 1],
          2: [2, 3],
          3: [2, 3]
        },
        {
          0: [2, 3, 4, 8, 9, 10],
          2: [0, 5, 7, 12],
          3: [0, 5, 7, 12],
          4: [0, 5, 7, 12],
          5: [2, 3, 4, 8, 9, 10],
          7: [2, 3, 4, 8, 9, 10],
          8: [0, 5, 7, 12],
          9: [0, 5, 7, 12],
          10: [0, 5, 7, 12],
          12: [2, 3, 4, 8, 9, 10]
        },
        {
          0: [0, 3],
          1: [4],
          2: [0, 4],
          3: [1, 2, 3, 4]
        }
      ],
      selected_index: -1
    }
  },
  computed: {},
  created() {
    this.$nuxt.$on("pattern_clear", () => {
      this.selected_index = -1
    })

    this.$nuxt.$on("pattern_apply", () => {
      this.selected_index = -1
    })
  },
  mounted() {},
  methods: {
    loadPattern(pattern_index) {
      if (this.selected_index === pattern_index) {
        // click selected pattern will unselect it
        return this.$nuxt.$emit("pattern_clear", pattern)
      }
      const pattern = this.patterns[pattern_index]
      this.selected_index = pattern_index
      this.$nuxt.$emit("pattern_select", pattern)
    }
  }
}
</script>

<style lang="scss" scoped>
.pattern {
  cursor: pointer;

  &:hover,
  &:active,
  &.selected {
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
  }

  &:hover {
    border-color: #db276c;
  }

  &:active,
  &.selected {
    border-color: #dc93af;
  }
}
</style>
