<template>
  <v-card width="100%" class="users">
    <v-toolbar color="pink darken-1" dark>
      <v-toolbar-title>Online Users</v-toolbar-title>
    </v-toolbar>

    <v-list>
      <v-list-tile
        v-for="(user, i) in users"
        :key="i"
        avatar
      >
        <v-list-tile-avatar>
          <i :style="{ background: '#' + user.color }" aria-hidden="true" class="v-icon material-icons theme--light" />
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>#{{ user.id }}</v-list-tile-title>
          <v-list-tile-sub-title v-if="user.id==userId">(Me)</v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: "Users",
  props: {
    users: {
      type: Array,
      required: true
    },
    userId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {}
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {}
}
</script>
