<template>
  <div>
    <customHeader :user-id="user_id" />
    <v-content>
      <v-container ref="container" grid-list-md pt-1>
        <loading v-if="!(board_loaded && cable_connected)" />
        <v-layout row wrap align-center justify-center fill-height>
          <v-flex d-flex sm12 lg8 class="board-wrapper" justify-center>
            <board v-if="board_loaded" :confirmed-inputs="confirmed_inputs" :board="board" :user-color="color" :time-delta="time_delta" />
          </v-flex>
          <v-flex d-flex sm12 lg4>
            <v-layout row wrap justify-center>
              <v-flex d-flex xs12 sm6 lg12 class="tool-card">
                <patterns />
              </v-flex>
              <v-flex d-flex xs12 sm6 lg12 class="tool-card">
                <users :users="users" :user-id="user_id" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <customFooter />
  </div>
</template>

<script>
if (process.browser) {
  window.ActionCable = require("actioncable")
}

export default {
  data() {
    return {
      backend_host_api: "",
      board: {},
      headers: [
        { text: "Timestamp", value: "timestamp" },
        { text: "Content", value: "content" },
        { text: "User", value: "user" }
      ],
      input: "",
      confirmed_inputs: [],
      user_id: 0,
      color: "",
      cable: null,
      token: "",
      channel: null,
      users: [],
      width: 200,
      height: 200,
      cable_connected: false,
      time_delta: 0
    }
  },
  computed: {
    board_loaded() {
      return Object.keys(this.board).length > 0
    }
  },
  watch: {
    time_delta() {
      console.info("Time delta changed to " + this.time_delta + "ms")
    }
  },
  created() {
    this.$nuxt.$on("input_submit", cells => {
      this.channel.send({
        data: {
          content: cells
        },
        event: "input"
      })
    })
    this.$nuxt.$on("assign_new_user", this.assignNewUser)

    setInterval(() => {
      this.requestSyncTime()
    }, process.env.time_sync_interval)
  },
  mounted() {
    this.getHostname()
    this.resizePreview()
    this.init()
  },
  methods: {
    requestSyncTime() {
      if (!this.cable_connected) return false
      this.channel.send({
        data: {
          client_time: new Date().valueOf()
        },
        event: "time"
      })
    },
    processSyncTime(data) {
      const current_time = new Date().valueOf()
      const single_trip = (current_time - data.client_time) / 2
      this.time_delta = data.server_time - single_trip - data.client_time
    },
    getHostname() {
      this.backend_host = process.env.backend_host
      this.backend_host_api = `${this.backend_host}/api`
    },
    async init() {
      let user = null
      this.token = localStorage.token
      this.user_id = parseInt(localStorage.user_id)

      if (this.token && this.user_id) {
        try {
          user = await this.$axios.$get(
            `${this.backend_host_api}/user/${this.user_id}?token=${this.token}`
          )
        } catch (error) {
          // nothing here, just pass
          console.error(error)
        }
      }

      if (!user) {
        user = await this.$axios.$post(`${this.backend_host_api}/user`)
      }

      if (!user) {
        return console.error("Error assigning user. Abort")
      }

      this.token = user.token
      this.color = user.color
      this.user_id = parseInt(user.id)

      // store to localStorage
      localStorage.token = this.token
      localStorage.user_id = user.id

      // now we can connect socket
      this.connectCable()
    },
    assignNewUser() {
      localStorage.user_id = ""
      this.cable.disconnect()
      this.init()
    },
    resizePreview() {
      this.width = Math.round(this.$refs.container.clientWidth / 2)
      this.height = this.width
    },
    updateBoard(board) {
      this.board = board
      this.confirmed_inputs = this.confirmed_inputs.filter(
        input => input.unix_timestamp_millis / 1000 > this.board.unix_timestamp
      )
    },
    updateUsers(users) {
      if (this.user_id) {
        // let's sort it
        users.sort((a, b) => {
          // move myself to first position
          if (a.id == this.user_id) {
            return -1
          } else if (b.id == this.user_id) {
            return 1
          } else {
            return b.id - a.id
          }
        })
      }
      this.users = users
    },
    updateConfirmedInputs(inputs) {
      this.confirmed_inputs = inputs
    },
    connectCable() {
      const endpoint = `${this.backend_host}/cable?id=${this.user_id}&token=${
        this.token
      }`
      this.cable = window.ActionCable.createConsumer(endpoint)
      this.channel = this.cable.subscriptions.create(
        { channel: "MainChannel" },
        {
          received: data => {
            if (data.event && data.data) {
              switch (data.event) {
                case "inputs_change":
                  this.updateConfirmedInputs(data.data.inputs)
                  break

                case "board_change":
                  this.updateBoard(data.data.board)
                  break

                case "online_users_change":
                  this.updateUsers(data.data.users)
                  break

                case "time":
                  this.processSyncTime(data.data)
                  break
              }
            } else {
              console.warn("Illegal data received", data)
            }
          },
          connected: () => {
            this.cable_connected = true
          },
          disconnected: () => {
            this.cable_connected = false
          }
        }
      )
    }
  }
}
</script>
<style lang="scss" scoped>
.board-wrapper {
  min-height: 785px;
}

.tool-card {
  max-width: 300px;
}

* {
  font-family: "Exo", sans-serif;
}
</style>
